
.icon {
    width: 25px;
    height: 25px;
}

.navbar-light .navbar-brand{
    color:#fff;
    border: #fff 1px solid;
    padding: 0px 8px;
    border-radius: 5px;
    width: 30px;
    height:30px;
}
.navbar{
    background:#013a63;
    padding:0;
}
.navbar-nav li a{
    color: #fff !important;
    padding: 5px 10px;
    
}
.navbar-nav li .choose{
    border-radius: 6px;
    border: #fcf300 1px solid;
    color: #fcf300 !important;
}
.navbar-nav>li {
    padding: 10px 5px;
}
.num-noti{
    background:#f4a261;
    right: 4px;
    color: #fff;
    font-size:10px;
    padding: 0 2px;
    border-radius: 3px;
}
@media(max-width: 576px){
    .navbar-nav li .choose{
        border-radius: 0;
        border: 0;
        color: #fff !important;
    }
}
.img-currency{
    width:80px;
    height:80px;
    padding:9%;
}
.img-currency img{
    width:30px;
}
.bg-green{
    background:#14cb5d;
}
.fs-12{
    font-size:12px;
}
.text-green{
    color:#14cb5d;
}
.currency{
    box-shadow: 1px 1px 4px #ccc;
}
.row{
    --bs-gutter-x: 0rem;
}
.input-s{
    border: #ccc 1px solid;
    padding: 2px 4px;
    border-radius: 3px;
}
.img-notify{
    /* width: 64px;
    height:64px; */
}
.bg-grey{
    background:#eaf4f4;
}
.fs-10{
    font-size: 10px;
}
.load-data{
    background:#adb5bd
}
#previous-rv{
    left:25%;
    top:70%;
    cursor:pointer;
}
#next-rv{
    right: 25%;
    top:70%;
    cursor:pointer;
}
.user-review {
    background: #a3cef1;
}
.user-review-item:not(:first-child) {
    /* Hide all images except the first */
    display: none;
}

.rv-content{
    color: #666666;
    text-shadow: 0 0 2px #ccc;
    /* height: 5.5rem; */
}
.fw-medium{
    font-weight:600;
}
@media (min-width: 576px) and (max-width: 767px){
    .img-currency {
        width: 58px;
        height: 60px;
    }
    .fs-sm{
        font-size: 20px !important;
    }
    .fs-sm-min{
        font-size: 10px !important;
    }
    .list-review{
        min-width: 500px;
    }
    .rv-content{
        /* height: 6.5rem; */
    }
    .user-info{
        width: 40% !important;
    }
}
@media (max-width: 575px){
    .list-review{
        width:95% !important;
    }
    .user-info{
        width: 40% !important;
    }
}

.outline_chart {
    outline: 1px solid #c6c6c6;
    outline-offset: -15px;
}
.border-top{
    border-top: #20bf55 1px solid !important;
}